body {
    margin: 0;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #000;
    color: #fff;
    height: 2.5rem;
}
.navbar a {
    text-decoration: underline;
    color: #fff;
}
.landing {
    height: 100vh;
}
.section {
    height: 100vh;
}