@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');
body {
    margin: 0;
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
}
/* navbar */
.navbar {
    height: 2rem;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    list-style: none;
}
.navbar li {
    display: inline;
}
.navbar li a {
    color: #fff;
    text-decoration: none;
}
/* landing */
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-bottom {
    font-size: 2rem;
}
/* landing button */
.button-container {
    border: 1px solid;
    width: 200px;
    height: 100px;
}