.navbar {
    height: 40px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border: solid #c7dde8;
    border-width: 0 0 3px 3px;
    border-radius: 0 0 0 10px;
}
.navbar a,
.navbar span {
    color: #000;
}
.navbar ul {
    padding: 10px;
    list-style: none;
}
.navbar ul li {
    display: inline;
}

/* .container {
    height: 14px;
    width: 100vw;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    z-index: 999;
}
.container a {
    color: #000;
} 
.ncontainer ul {
    float: right;
    list-style: none;
}
.container ul li {
    display: inline;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        max-width: 100vw;
        overflow: hidden;
        user-select: none;
        position: fixed;
        box-sizing: unset;
    }
    .container ul {
        display: none;
    }
    .sadc {
        padding: none;
    }
} */