.page {
    min-height: 100vh;
}
.title {
    padding-top: 10vh;
    padding-left: 25vw;
    height: 100px;
    width: 300px;
    font-size: 3rem;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
}
.card {
    position: relative;
    height: 400px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.type {
    font-size: 35px;
}
.date {
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.bold {
    font-weight: 700;
}
.details {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
}
.details a {
    color: #000;
}
.desc {
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.moreContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #0000007c;
    /* opacity: .75; */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeMore {
    all: unset;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    right: 5px;
    top: 0;
}
.more {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    padding: 10px;
}
.moreInfo {
    font-weight: 600;
    font-size: 1.5rem;
}
.forms {
    width: 300px;
}
.formButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}
.formButton a {
    text-decoration: none;
    color: #fff;
}