.about {
    min-height: 100vh;
}
.about-container {
    padding-top: 10vh;
    padding-left: 25vw;
}
.about-title {
    height: 100px;
    width: 300px;
    font-size: 3rem;
}
.about-text {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 50%;
}
.about-text span {
    display: block;
    line-height: 1.5;
    padding-bottom: 15px;
}
.member-list {
    padding-left: 20px;
    list-style: none;
}
.subtitle {
    font-size: .75rem;
}