.business {
    min-height: 100vh;
}
.business-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10vh;
    padding-left: 25vw;
}
.business-title {
    height: 100px;
    width: 300px;
    font-size: 3rem;
}
.business-search {
    padding-top: 25px;
    padding-left: 125px;
    width: 500px;
}
.business-search form {
    display: flex;
    align-items: center;
    color: #000;
    border-radius: 6px;
    border: 2px solid #000;
    height: 6vh;
    width: 100%;
}
.business-search input {
    all: unset;
    width: 100%;
    padding: 10px;
}
.business-card {
    position: relative;
    height: 400px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 8px;
}
.business-card-image img {
    width: 100%;
    height: 150px;
}
.business-card-seperator {
    margin-top: 3px;
    width: 200px;
    height: 2px;
    background-color: #c7dde8;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
}
.business-card-content {
    padding: 5px;
}
.business-card-title {
    font-size: 25px;
}
.business-card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.business-card-about {
    width: 100%;
}
.business-card-icons {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 10%;
}
.business-card-icons a {
    color: #c7dde8;
}
.business-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.business-card-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 250px;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 10px;
    text-decoration: none;
}