.page {
    min-height: 100vh;
}
.title {
    padding-top: 10vh;
    padding-left: 25vw;
    height: 100px;
    width: 300px;
    font-size: 3rem;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    position: relative;
    box-sizing: inherit;
    height: 400px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.cardHeader {
    font-size: 40px;
}
.cardText {
    padding-top: 20%;
    max-height: 150px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
.cardButton {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardButton a {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardButton a:hover {
    background-color: #908298;
    transition: all 0.2s ease;
}
.cardButton span {
    font-size: 14px;
}