.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px; 
    width: 100%;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    z-index: 999;
}
.navbar-container a {
    color: #000;
} 
.navbar-container ul {
    list-style: none;
}
.navbar-container ul li {
    display: inline;
}