.about {
    min-height: 100vh;
}
.sidebar {
    position: fixed;
    left: 50px;
}
.sidebar ul {
    list-style: none;
    line-height: 30px;
}
.sidebar ul li a {
    color: #000;
    font-weight: 600;
}
.container {
    padding-top: 10vh;
    padding-left: 20vw;
}
.title {
    width: 300px;
    font-size: 3rem;
    padding-bottom: 50px;
}
.text {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 50%;
}
.text span {
    display: block;
    line-height: 1.5;
    padding-bottom: 15px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1900px;
}
.member {
    display: flex;
    padding: 15px;
    width: 400px;
}
.memberLink {
    display: flex;
    cursor: pointer;
}
.memberSidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 10px;
    margin-right: 5px;
    color: #fff;
    background-color: #c7dde8;
}
.memberImage {
    position: relative;
    min-height: 80px;
    min-width: 80px;
    margin-right: 5px;
}
.memberInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: fit-content;
    height: 80px;
}
.subtitle {
    font-size: .75rem;
}
@media (max-width: 1348px) {
    .sidebar {
        left: 0;
    }
}
@media (max-width: 1086px) {
    .sidebar {
        display: none;
    }
}
@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 15px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        display: none;
    }
    .title { 
        padding-bottom: 10px;
    }
    .text {
        width: fit-content;
    }
}