.about {
    min-height: 100vh;
}
.container {
    padding-top: 10vh;
    padding-left: 25vw;
}
.title {
    height: 100px;
    width: 300px;
    font-size: 3rem;
}
.text {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 50%;
}
.text span {
    display: block;
    line-height: 1.5;
    padding-bottom: 15px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1900px;
}
.member {
    display: flex;
    padding: 15px;
    min-width: 400px;
}
.memberSidebar {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 10px;
    margin-right: 5px;
    color: #fff;
    background-color: #c7dde8;
}
.memberImage {
    position: relative;
    height: 80px;
    width: 80px;
    margin-right: 5px;
}
.memberInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    height: 80px;
}
.subtitle {
    font-size: .75rem;
}