@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');
body {
    margin: 0;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url("../img/city.jpg");
    background-size: cover;
}
/* NAVBAR NAVBAR NAVBAR */
.navbar {
    z-index: 9999;
    position: absolute;
    height: 2rem;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.navbar li {
    display: inline;
}
.navbar li a {
    color: #fff;
    text-decoration: underline;
}
.navbar li a:hover {
    color: #2aa9af;
    transition: all 0.2s ease;
}
/* LANDING LANDING LANDING */
.landing-content {
    height: 100vh;
}
.landing-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 20px;
    float: right;
    height: 100%;
}
/* landing text */
.landing-text {
    padding: 0 0 20px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* search bar / ads */
.search-box {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: #fff;
    height: 50px;
    width: 425px;
}
.search-box input {
    all: unset;
    color: #1d1d1d;
    padding: 10px;
    width: 100%;
}
.ads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.ad img {
    border-radius: 6px;
    height: 100px;
}
.landing-text-top {
    font-size: 1.25vw;
}
.landing-text-bottom {
    font-size: 3vw;
}
/* quick links */
.divider {
    margin: 5px 0 20px 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
}
.quick-links-header {
    font-size: 1.5rem;
}
.icon-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.icon-container a {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.icon-container a img {
    filter: invert(93%) sepia(0%) saturate(26%) hue-rotate(61deg) brightness(107%) contrast(106%);
}
/* FOOTER FOOTER FOOTER */
.footer {
    background-color: #1d1d1d;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer a {
    color: #fff;
}