.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px; 
    width: 100%;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
}   
.navbar-container ul {
    list-style: none;
}
.navbar-container ul li {
    display: inline;
}
.navbar-container ul li a {
    color: #fff;
}