.content {
    height: 100vh;
}
.landing-container {
    padding: 10px;
}
.landing-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
